@s: 0.0133rem;
.bill-detail{
    color: #2E3141;
    background: #F8F8FC;
    .top{
        position: relative;
        height: 100*@s;
        background: #fff;
        padding: 0 30*@s;
        border-bottom: 1px solid #ddd;
        img{
            position: absolute;
            top: 25*@s;
            width: 50*@s;
            height: 50*@s;
        }
        .title{
            text-align: center;
            font-size: 36*@s;
            color: #2E3141; 
            line-height: 100*@s;
            font-weight: bold;
        }
    }
    .wrap{
        background: #fff;
        padding: 0 30*@s;
        margin-top: 20*@s;
        font-size: 28*@s;
        .name{
            height: 80*@s;
            line-height: 80*@s;
            span{
                float: right;
            }
        }
    }
}